header{
    font-family: 'Cinzel', serif;
    background-color: #312339;
    border-radius: 5px;
    border: #54405E 2.5px solid;
}
.logo{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
.searchspells:hover{
    color: #dedede;
}
.searchspells{
    text-decoration: none;
    color: #aeaeae;
}
a{
    all: unset; 
    display: inline; /* o el valor de display que necesites */
    cursor: pointer;
    
}