header{
    font-family: 'Cinzel', serif;
    background-color: #312339;
    border-radius: 5px;
    border: #54405E 2.5px solid;
}
.logo{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
.searchspells:hover{
    color: #dedede;
}
.searchspells{
    text-decoration: none;
    color: #aeaeae;
}
.login{
    font-family: 'Cinzel', serif;
    border: #c394da 2px solid;
    color: #aeaeae;
}
.login:hover{
    border: #6b5278 2px solid;
}
.register{
    font-family: 'Cinzel', serif;
    border: #8fa8db 2px solid;
    color: #aeaeae;
}
.register:hover{
    border: #5f6f90 2px solid;
}
a{
    all: unset; 
    display: inline; /* o el valor de display que necesites */
    cursor: pointer;
    
}