<div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="home-text p-3 justify-content-center">
            <p>
            Te encuentras en CodeGuard, la academia mística donde los magos de todo el mundo vienen a perfeccionar su arte y dominar los conjuros más complejos. Aquí, en lugar de resolver problemas comunes, te enfrentarás a desafíos mágicos y desentrañarás hechizos legendarios, desde encantamientos simples hasta los más enrevesados sortilegios. 
            <br>
            <br>
            Prepárate para poner a prueba tu habilidad, creatividad y destreza mágica. Cada conjuro resuelto te hará subir de nivel, desbloquear nuevos grimorios y ganar prestigio en la comunidad de hechiceros. Demuestra tu talento, refuerza tus runas de conocimiento y ¡conviértete en el archimago que estás destinado a ser! <br>
            <br>
            Adéntrate, conjurador, y comienza tu camino hacia la grandeza. ¡El poder del arcanum te espera!
            </p>
        </div>
</div>


